* {
  box-sizing: border-box;
}

/*-------------------fonts and buttons--------------------*/

html {
  font-size: 25px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #f3e7d7;
  color: #1e1e1e;
}

h1,
h2,
h3,
h4,
p,
a {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: "Bagel Fat One";
  font-size: 3.2rem;
  color: #018780;
}

h2 {
  font-family: "Chivo";
  font-size: 1.6rem;
  line-height: 55px;
}

h3 {
  font-family: "Bebas Neue";
  font-size: 1.44rem;
}

h4 {
  font-family: "Bebas Neue";
  font-size: 0.8rem;
}

p {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;

  color: #1e1e1e;
}

.red-button {
  background-color: #ed775b;
  color: #1e1e1e;
  display: inline-block;
  padding: 20px 32px;

  border-radius: 20px;
}

.green-button {
  background-color: #018780;
  color: #ffffff;
  display: inline-block;
  padding: 20px 32px;

  border-radius: 20px;
}

/*------------------ backgrounds ---------------*/

.orange-background {
  background-color: #ff9f48;
}

.green-background {
  background-color: #c6e0d3;
}

.orange-box {
  border-radius: 30px;
  border: 6px solid #ff9200;
  background: #ffc982;

  padding: 4rem;
}

.border-bottom {
  border-bottom: 1px solid #1e1e1e;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

/*------------------ header ---------------*/

header {
  padding-right: 2rem;
  padding-left: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-direction: row;

  gap: 2rem;
}
/*------------------ hero sections ---------------*/

.hero-with-side-text {
  height: 95vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.side-text {
  width: 38%;

  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.hero-side-text {
  width: 43%;

  display: flex;
  flex-direction: column;

  gap: 1rem;
}
/*------------------middle align ---------------*/

.middle-align-section {
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.middle-align-text {
  text-align: center;
  width: 65%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.small-middle-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.small-middle-align p {
  width: 70%;
  text-align: center;
}
.small-middle-aligns {
  height: 60vh;
  padding: 0rem;
  border-radius: 30px;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  margin-right: 3rem;
}
.small-middle-aligns p {
  width: 95%;
  text-align: left;
}
.small-middle-aligns h4 {
  width: 95%;
  text-align: left;
}
.small-middle-aligns .in-text-button {
  width: 95%;
  text-align: left;
}

/*------------------columns ---------------*/

.three-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.two-column {
  height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 4rem;
}

.two-row-column {
  display: flex;
  flex-direction: column;

  gap: 3rem;
}

.small-two-column {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 2.5rem;
}

/*----------footer----------*/

footer {
  height: 70vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 5rem;
  padding: 5rem;
}

.footer-logo {
  width: 25%;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#demobox {
  width: 100%;
  height: 6vh;
  background-color: #ff9f48;
}
/*-----mainblog-------*/
.criteria-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px;
  background-color: #6B4C3B; /* Brown background from second image */
  color: white;
}
.criteria-item {
  text-align: center;
  max-width: 500px;
  margin: 2rem;
  margin-top: 3rem;
}
.two-grid-column {
  height: 80vh;
  padding: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 10rem;
  margin-top: 15rem;
}
.side-text {
  width: 80%;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.side-text-bar-column {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.side-text-bar-with-number {
  border-radius: 20px;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.side-text-bar-with-number h2{
  color: #6B4C3B;
}
.hero-middle-text {
  width: 70%;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-middle {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
/*-----------news in blog---------*/
.text-content {
  flex: 1;
  color: black;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 50%;
  margin-top: 5.6rem;
}
.text-content.ul{
  font-size: 1.2rem;
}
.text-content.li{
  font-size: 1.2rem;
}

.image-content img {
  max-width: 600px;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}
.two-grid-columns {
  height: auto;
  padding: 3rem 5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-bottom: 5rem;
}
/*------pading for button and h2------*/
.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 33rem;
}
.background-colour{
  background-color: #A1561C;
  padding:3rem;
}
/*---------in text button---------*/
.in-text-button {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  color: #B95959;
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  position: relative;
  
}

.in-text-button .text {
  position: relative;
}

.in-text-button .text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background-color: #B95959;
  transition: width 0.4s ease;
}

.in-text-button:hover .text::after {
  width: 100%;
}

.in-text-button .arrow {
  color: #2F0808;
  transition: transform 0.3s ease;
}

.in-text-button:hover .arrow {
  transform: translateX(8px);
}
/*--------------blog---------------*/
#blog  {
  border: 10px;
  width: 100%;
  padding: 0rem;
  margin-top: 8rem;
}
/*-----hero report--------*/
#hero-report {
  background-image: url(../img/hero-report.png);
  background-size: cover; /* Makes the image cover the entire screen */
  background-position: center; /* Centers the image */
  height: 85vh;

  margin-bottom: 4rem;
}
.hero-middle-text {
  width: 70%;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.hero-middle-text h1{
  color: black;
}
/*--------support-----------*/
.three-grid-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.image-content img {
  max-width: 600px;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

